// https://bulma.io/documentation/customize/with-node-sass/

@charset "utf-8";
@import "./override.scss";

// Import only needed modules
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

.is-code {
  font-family: monospace;
  padding: 0.1em 0.4em 0.1em;
  background: whitesmoke;
  display: inline-block;
  white-space: nowrap;
}

.width-100 {
  width: 100%;
}
