// custom palette
$lightThemeBackground: #FFF;
$lightThemeFooterBackground: #EFF3FD;
$lightThemeLink: #34AAFF;
$lightThemeLinkHover: #2483C7;
$lightThemeText: #404A51;
$lightThemeStrongText: #191919;
$stackoverflow: #f48024;
$github: #333;
$medium: #00ab6c;
$linkedin: #0077b5;
