@import "../../override.scss";

$extLinkNormal: inset 0 -3px 0;
$extLinkHover: inset 0 -5em 0 0;

a.ext-link {
  transition: all 0.4s ease;
  box-shadow: $extLinkNormal $lightThemeLink;

  /* This could be definitely adjusted with mixins */
  &.stackoverflow {
    box-shadow: $extLinkNormal $stackoverflow;
  }

  &.github {
    box-shadow: $extLinkNormal $github;
  }

  &.medium {
    box-shadow: $extLinkNormal $medium;
  }

  &.linkedin {
    box-shadow: $extLinkNormal $linkedin;
  }
}

a.ext-link:hover {
  box-shadow: $extLinkHover $lightThemeLinkHover;
  color: #fff;

  svg {
    color: #fff;
  }

  &.stackoverflow {
    box-shadow: $extLinkHover $stackoverflow;
  }

  &.github {
    box-shadow: $extLinkHover $github;
  }

  &.medium {
    box-shadow: $extLinkHover $medium;
  }

  &.linkedin {
    box-shadow: $extLinkHover $linkedin;
  }
}
